@model List<PredmetDto>
<div class="text-center">
    <h1>SVI PREDMETI</h1>

    <table class="table" style="background-color:aqua">
        <tr>
            <td>Ime predmeta</td>
            <td>Ime profesora</td>
            <td></td>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Predmet.ImePredmeta</td>
                <td>@p.Predmet.emailProfesora</td>
                @if (p.Upisan)
                {
                    <td>
                        <button class="" type="button"><h5>@Html.ActionLink("Ispisi se sa predmeta", "Ispis", "Predmet", new { predmet = p.Predmet.ImePredmeta }, new { style = "color: white;text-decoration: none;" })</h5></button>
                    </td>
                }
                else
                {
                    <td>
                        <button class="" type="button"><h5>@Html.ActionLink("Upisi se na predmet", "Upis", "Predmet", new { predmet = p.Predmet.ImePredmeta }, new { style = "color: white;text-decoration: none;" })</h5></button>
                    </td>

                }
            </tr>
        }
    </table>
</div>
